//- doctype html
//- html(lang="ko")
//-     head
//-         //- block head
//-         //- block이란 문 또는 창문을 가지게 되어서 거기에 컨텐츠를 넣을 수 있다. 
//-         //- (1) variable과 text 같이 쓰고 싶을 때
//-         title #{pageTitle} | Wetube
//-         link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
//-     body
//-         header 
//-             if fakeUser.loggedIn
//-                 small Hello #{fakeUser.username}
//-             nav 
//-                 ul 
//-                     if fakeUser.loggedIn
//-                         li 
//-                             a(href="/logout") Log out
//-                     else
//-                         li
//-                             a(href="/login") Log in
//-             h1=pageTitle
//-             //- (2) variable만 쓰고 싶을 때
//-             //- (3) h1 pageTitle =====> text만 쓴 거임
//-         main
//-             block content
//-     include partials/footer.pug

doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        header
            h1=pageTitle
            nav
                ul
                    li  
                        a(href="/") Home
                    if loggedIn 
                        li 
                            a(href="/videos/upload") Upload Video
                        li
                            a(href=`/users/${loggedInUser._id}`) My Profile
                        li 
                            a(href="users/edit") Edit Profile
                        li 
                            a(href="/users/logout") Log Out 
                    else                       
                        li 
                            a(href="/join") Join
                        li 
                            a(href="/login") Login
                    li
                        a(href="/search") Search  
        main
            block content
    include partials/footer
    script(src="/static/js/main.js")