div.video__data
    p.video__title=video.title
    div.video__icons
        i.fas.fa-heart
            small.video__like 233

div.video__owner
    div.video__owner-text
        a(href=`/users/${video.owner._id}`)
            img.video__owner-avatar(src="/"+ video.owner.avatarUrl)
        a.video__owner-username(href=`/users/${video.owner._id}`)=video.owner.username
    div.video__owner-setting
        if String(video.owner._id) === String(loggedInUser._id) 
            a(href=`${video.id}/edit`) 비디오 수정
            a(href=`${video.id}/delete`) 비디오 삭제

div.video__info
    div.video__details
        small.video__view=`조회수 ${video.meta.views} • `
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
    div.video__hashtags
        each hashtag in video.hashtags
            small.video__hashtag=hashtag
    small.video__description=video.description